/* You can add global styles to this file, and also import other style files */
@use "mixins.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  @include mixins.flexItemsCenter(column, flex-start);
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Quicksand";
}

a {
  color: white;
}

.app-root {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}
